In [2]:
print ("hello world")

hello world

In [3]:
x=input("enter your name")
print (x)

enter your nameabdullah ahmed
abdullah ahmed

In [ ]:
#write a python program to print a details of your bestfriend
#name,age intereset nationality

In [5]:
x=input("enter your name")
print(x)
y=input("enter your interest")
print(y)
t=input("enter your age")
print(t)
u=input("enter your nationality")
print(u)

enter your nameali
ali
enter your interestgamming
gamming
enter your age22
22
enter your nationalitypakistan
pakistan

In [7]:
x=int(input("enter your age"))
if x >=18:
 print("you are  eligibleto vote")
else:
 print("you are not  eligible to vote")

enter your age14
you are not  eligible to vote

In [13]:
x=int(input("enter any number to check wheatere is it even or odd"))
if x%2==0:
  print("the number is even")
else:
    print("number is odd")

enter any number to check wheatere is it even or odd3
number is odd

In [ ]:
#difference btween // , /

In [ ]:
def greeting():
  print("AOA")

In [ ]:
greeting()
AOA

In [26]:

def even_odd(number):
    if x % 2 == 0:
        print("The number is Even")
    else:
        print("The number is Odd")
x = int(input("Enter a number: "))
even_odd(x)

Enter a number: 7
The number is Odd

In [ ]:
def user_details():
    x = input("Enter your name: ")
    print(x)
    y = input("Enter your interest: ")
    print(y)
    t = input("Enter your age: ")
    print(t)
    u = input("Enter your nationality: ")
    print(u)
    xu = input("Enter your name: ")
    print(xu)
    ye = input("Enter your interest: ")
    print(ye)
    tf = input("Enter your age: ")
    print(tf)
    uo = input("Enter your nationality: ")
    print(uo)
    xp = input("Enter your name: ")
    print(xp)
    yq = input("Enter your interest: ")
    print(yq)
    tj = input("Enter your age: ")
    print(tj)
    up = input("Enter your nationality: ")
    print(up)
user_details()

In [ ]:
#how to use loops

In [31]:
for i in range(10):
 print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
x=int(input("enter number"))
for i in range(1,11):
 print(i,"*",x,"=",i*x)

enter number4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

In [ ]:
#print first 20 prime numbers

In [ ]:
def is_prime(x)
 if x==0 or x==1:
  return 0

  for i in range (2,x):
    if x%i==0:
      return 0

    return 1

In [ ]:
x=int(input("enter a number to check weather it is prime or not"))
if is_prime(x)==0:
  print("not prime number")
else:
  print("prime number")

In [48]:
def is_prime(n):
    if n < 2:
        return 0
    for j in range(2, int(n**0.5) + 1):
        if n % j == 0:
            return 0
    return 1


count = 1
for i in range(2, 100):
    if is_prime(i) == 1:
        print(count, "\t", i)
        if count >= 20:
            break
        count += 1

1 	 2
2 	 3
3 	 5
4 	 7
5 	 11
6 	 13
7 	 17
8 	 19
9 	 23
10 	 29
11 	 31
12 	 37
13 	 41
14 	 43
15 	 47
16 	 53
17 	 59
18 	 61
19 	 67
20 	 71